<<<<<<< HEAD
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background:beige;
  height: 100vh;
  margin: 0;

}

.cardContainer {

  width: 350px;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 10px 10px 20px #c7c7c7, -10px -10px 20px #ffffff;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: auto;
  text-align: center;
}

.header {
  background: linear-gradient(90deg, #2256ff, #00e1ff); 

  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.photo img {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  border-radius: 50%;
  border:1px solid #c7c7c7;
  /* background: linear-gradient(145deg, #e6e6e6, #ffffff); */
  
  box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff;
  margin: auto;
  margin-bottom: 15px;
}

.details {
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
  padding: 0 10px;
}

.field {
  margin-bottom: 10px;
  
}

.field span {
  font-weight: bold;
  font-size: 16px;
  color: #2238ff;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  background: lightgrey;
  color: grey;
  padding: 8px;
  border-radius: 10px;
}

.cardContainer:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
=======
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background:beige;
  height: 100vh;
  margin: 0;

}

.cardContainer {

  width: 350px;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 10px 10px 20px #c7c7c7, -10px -10px 20px #ffffff;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: auto;
  text-align: center;
}

.header {
  background: linear-gradient(90deg, #2256ff, #00e1ff); 

  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.photo img {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  border-radius: 50%;
  border:1px solid #c7c7c7;
  /* background: linear-gradient(145deg, #e6e6e6, #ffffff); */
  
  box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff;
  margin: auto;
  margin-bottom: 15px;
}

.details {
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
  padding: 0 10px;
}

.field {
  margin-bottom: 10px;
  
}

.field span {
  font-weight: bold;
  font-size: 16px;
  color: #2238ff;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  background: lightgrey;
  color: grey;
  padding: 8px;
  border-radius: 10px;
}

.cardContainer:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
>>>>>>> 2e350ce (Initial commit)
}